ion-toolbar{
    --background: var(--ion-color-tertiary);
    --color: white;
}

.content{
    padding-left: 8px;
    padding-right: 8px;
}

ion-input > placeholder {
    color: rgba(0, 0, 0, 0.3);
  }
  
  textarea {
    width: 100%;
    border: none;
    height: 100px;
    border-radius: 4px;
    background-color: #ffffff;
    color: var(--dark);
    padding: 10px;
    box-sizing: border-box;
  }
  
  textarea::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }
  
  .input-container{
    padding: 10px 0px;
  }

  .input-container ion-label{
    font-weight: bolder;
    font-size: 11px;
  }
 
  .input-container ion-input, .input-container ion-textarea{
    font-size: 11px;
    --padding-start: 8px;

  }


  input:focus, textarea:focus {
    border: 1px var(--ion-color-primary) solid !important;
  }
  

  .ng-valid:not(form){
    border: 1px green solid;

  }
  
  .ng-invalid:not(form) {
    border: 1px red solid;
    /* width:  */
  }
  
  .ng-invalid:not(form) {
    border: 1px red solid;
    /* width:  */
  }
  .ng-untouched:not(form) {
    border: 1px  rgba(0, 0, 0, 0.3) solid;
  }
  
  .button-group {
    text-align: right;
  }

  .button-group > ion-button{
    --border-radius: 0px;
    text-transform: uppercase;
    font-size: 11px;
  }