ion-content {
  --background: white;
}


.section-body{
  padding-left: 8px;
  padding-right: 8px;
}
.div-1 {
  background: white;
}

.div-1::after, .div-2 {
  background: var(--ion-color-tertiary);
  color: white;
}

.div-2::after, .div-3 {
  background: white;
}


.div-3::after {
  background: var(--ion-color-secondary);
}

#graph-title{
  width: 100%;
  line-height: 38px;
  letter-spacing: -1.56;
  font-size: 32px;
  padding-bottom: 16px;
}


.flex-disp {
  margin-right: 0;
  margin-left: 0;
  text-align: left;
  display: flex!important;
  flex-direction: column;
  align-content: center!important;
  align-items: center!important;
  justify-content: center;
}

.legend-container ion-label{
  overflow-x: auto;
}

ion-card {
  --background: white;
}

ion-card-title {
  --color: #2d1180;
  font-weight: bold;
}


#legend-colorBox {
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  vertical-align: middle;
}

#legend-colorBox #colorBox-content {
  height: 50%;
  width: 50%;
  border-radius: 50%;
}

#footer {
  margin: 50px;
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

#footer-button {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  --background: #2d1180;
  --background-hover: white;
  --color-hover: #2d1180;
  --color: white;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 768px) {
  #graph-title{
    line-height: 29px;
    letter-spacing: -1.17px;
    font-size: 24px;
  }
}

@media only screen and (max-width: 1024px){
  .flex-disp {
    align-items: initial!important;
  }
}