<ion-content fullscreen [scrollEvents]="true">
  <app-header lastpage="true" [title]="title" [subtitle]="subtitle" (buttonClicked)="formatData($event)"></app-header>

  <div *ngIf="dataLoaded">
  <div class="section-body div-1">
    <ion-grid>
      <ion-row>
        <ion-col class="flex-disp" size-lg="8" size-xl="8" size-md="12" size-sm="12" size-xs="12">
          <div id="graph-title">
            How much of a priority and how <strong>ready</strong> are we to drive these enablers
            today?
          </div>
          <canvas #matrixChart>{{ matrixChart }}</canvas>
        </ion-col>
        <ion-col class="flex-disp" size-lg="4" size-xl="4" size-md="12" size-sm="12" size-xs="12">
          <ion-grid  class="flex-disp ion-no-padding ion-no-margin" >
            <ion-row>
              <ion-col class="ion-no-padding" size-lg="12" size-xl="12" size-md="6" size-sm="6" size-xs="6">
                <ion-list class="legend-container ion-no-padding ion-no-margin">
                  <ion-item class="ion-no-padding">
                    <ion-avatar id="legend-colorBox" slot="start">
                      <div id="colorBox-content" [ngStyle]="{'background-color': actNowColor}"></div>
                    </ion-avatar>
                    <ion-label>
                      <div id="texts-2">Act now</div>
                      <div id="texts-3">High Priority, High Maturity</div>
                    </ion-label>
                  </ion-item>
                  <ion-item class="ion-no-padding">
                    <ion-avatar id="legend-colorBox" slot="start">
                      <div id="colorBox-content" [ngStyle]="{'background-color': canDoColor}"></div>
                    </ion-avatar>
                    <ion-label>
                      <div id="texts-2">Can do</div>
                      <div id="texts-3">Low Priority, High Maturity</div>
                    </ion-label>
                  </ion-item>
                </ion-list>
              </ion-col>
                  <ion-col class="ion-no-padding" size-lg="12" size-xl="12" size-md="6" size-sm="6" size-xs="6">
                    <ion-list class="legend-container  ion-no-padding ion-no-margin" >
                      <ion-item class="ion-no-padding">
                        <ion-avatar slot="start" id="legend-colorBox">
                          <div id="colorBox-content" [ngStyle]="{'background-color': fixExecutionColor}"></div>
                        </ion-avatar>
                        <ion-label>
                          <div id="texts-2">Fix execution strategy</div>
                          <div id="texts-3">High Priority, Low Maturity</div>
                        </ion-label>
                      </ion-item>
                      <ion-item class="ion-no-padding">
                        <ion-avatar slot="start" id="legend-colorBox">
                          <div id="colorBox-content" [ngStyle]="{'background-color': avoidColor}"></div>
                        </ion-avatar>
                        <ion-label>
                          <div id="texts-2">Avoid</div>
                          <div id="texts-3">Low Priority, Low Maturity</div>
                        </ion-label>
                      </ion-item>
                    </ion-list>
                  </ion-col>
                </ion-row>
            </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="section-body div-2">
    <ion-grid>
      <ion-row>
        <ion-col class="flex-disp" size-lg="6" size-xl="6" size-md="12" size-sm="12" size-xs="12">
          <div id="graph-title">
          Enablers with the highest <strong>priority</strong> today
          </div>
          <canvas #priorityChart>{{ priorityChart }}</canvas>
        </ion-col>
        <ion-col class="flex-disp" size-lg="6" size-xl="6" size-md="12" size-sm="12" size-xs="12">
          <div id="graph-title">
          Enablers with the highest <strong>maturity</strong> today
          </div>
          <canvas #maturityChart>{{ maturityChart }}</canvas>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="section-body div-3">
    <ion-grid>
      <ion-row>
        <ion-col class="flex-disp" size-lg="4" size-xl="4" size-md="12" size-sm="12" size-xs="12">
          <div id="graph-title" >
          Looking at the enablers with the highest priority, where are the <strong>gaps</strong> we face today?
          </div>
        </ion-col>
        <ion-col class="flex-disp" size-lg="8" size-xl="8" size-md="12" size-sm="12" size-xs="12">
          <canvas #barChart>{{ barChart }}</canvas>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <app-footer lastpage = "true" (learnMoreClicked) = "openContactPage()" (resultsClicked) = "sendResults()"></app-footer>
</div>

</ion-content>