<ion-content fullscreen [scrollEvents]="true">
    <div class="background">
        <div class="page-header">
          <div id="header-logo">
            <img src="assets/homepage/Capgemini_Logo_White.png" />
          </div>
          <div id="header-title">
            Thank you for completing the assessment
          </div>
        </div>
    
        <ion-button
          id="header-button"
          shape="round"
          strong="true"
          (click)="formatData()"
        >
          View Results
          <ion-icon style="padding-left: 3px;" name="arrow-down"></ion-icon>
        </ion-button>
      </div>

<div *ngIf="dataLoaded" class="page-body">
<ion-grid>
  <ion-row>
    <ion-col style="display: flex; flex-direction: column; justify-content: center;" size-lg="6" size-xl="6" size-md="12" size-sm="12" size-xs="12">
        <ion-card style="flex-grow: 1; display: flex; flex-direction: column;">

            <ion-card-header>
              <ion-card-title>
                  Detailed Assessment of each enabler
              </ion-card-title>
            </ion-card-header>
            <ion-card-content style="flex-grow:1; display: flex; flex-direction: column; justify-content: center; align-content: center;">
      
                <canvas #matrixChart >{{ matrixChart }}</canvas>
      
            </ion-card-content>
      
      
          </ion-card>
    </ion-col>
    <ion-col size-lg="6" size-xl="6" size-md="12" size-sm="12" size-xs="12">
        <ion-card >
            <ion-card-header>
              <ion-card-title>
                  Legend
              </ion-card-title>
              <ion-card-subtitle>
                Click on a specific point to see which enabler it refers to
              </ion-card-subtitle>

              
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <ion-item>
                        <ion-avatar id="legend-colorBox" slot="start">
                        <div id = "colorBox-content" style="background-color: green;">

                        </div>
                        </ion-avatar>
                      <ion-label>
                        <h2>Act now</h2>
                        <p> High Priority, High Maturity</p>
                      </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-avatar id="legend-colorBox" slot="start">
                        <div id = "colorBox-content" style="background-color: yellow;">
                        </div>
                        </ion-avatar>
                      <ion-label>
                        <h2>Can do</h2>
                        <p> High Priority, High Maturity</p>
                      </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-avatar slot="start" id="legend-colorBox" >
                        <div  id = "colorBox-content" style="background-color: orange;">

                        </div>
                        </ion-avatar>
                      <ion-label>
                        <h2>Fix execution strategy</h2>
                        <p> High Priority, High Maturity</p>
                      </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-avatar slot="start" id="legend-colorBox" >
                        <div id = "colorBox-content" style="background-color: red;">

                        </div>
                        </ion-avatar>
                      <ion-label>
                        <h2>Avoid</h2>
                        <p> High Priority, High Maturity</p>
                      </ion-label>
                    </ion-item>
                     </ion-list>
      
            </ion-card-content>
      
      
          </ion-card>
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col size='12'>
        <ion-card>
            <ion-card-header>
                <ion-card-title>
                    Comparison of priority and maturity of each enabler                
                  </ion-card-title>
              </ion-card-header>
            <ion-card-content>
      
                <canvas #barChart >{{ barChart }}</canvas>
      
            </ion-card-content>
      
      
          </ion-card>
      
    </ion-col>

  </ion-row>
  <ion-row>
      <ion-col size-lg="6" size-xl="6" size-md="12" size-sm="12" size-xs="12">
          <ion-card>
              <ion-card-header>
                  <ion-card-title>
                      List of enablers from highest to lowest priority
                    </ion-card-title>
                </ion-card-header>
              <ion-card-content>
        
                  <canvas #priorityChart >{{ priorityChart }}</canvas>
        
              </ion-card-content>
        
        
            </ion-card>
        
      </ion-col>
      <ion-col size-lg="6" size-xl="6" size-md="12" size-sm="12" size-xs="12">
          <ion-card>
              <ion-card-header>
                  <ion-card-title>
                      List of enablers from highest to lowest maturity
                    </ion-card-title>
                </ion-card-header>
              <ion-card-content>
        
                  <canvas #maturityChart >{{ maturityChart }}</canvas>
        
              </ion-card-content>
        
        
            </ion-card>
        
      </ion-col>

  </ion-row>
</ion-grid>

<div id="footer">
    <ion-button
    id="footer-button"
    shape="round"
    strong="true" >
      Send Results
    </ion-button>
</div>

</div>
</ion-content>
