ion-content {
  --background: white;
  --genPadding: 10%;
}
.section-body{
  padding-left: calc(var(--genPadding)/2);
  padding-right: calc(var(--genPadding)/2);
}
.div-1 {
  background: white;
}

.div-1::after, .div-2 {
  background: var(--ion-color-tertiary);
  color: white;
}

.div-2::after, .div-3 {
  background: white;
}


.div-3::after {
  background: var(--ion-color-secondary);
}

.top-col{
  padding-top: 16px;
  padding-bottom: 16px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.align-end{
  justify-content: flex-end;
  padding-right: 8px; //calc(var(--genPadding)/2);
}

.align-start{
  justify-content: flex-start;
  padding-left: 8px; //calc(var(--genPadding)/2);
}

ion-card{
  width: 100%;
  max-width: 384px;
  margin: 0 !important;
  border-radius: 2px !important;
}

ion-card-header{
  padding: 16px;
  padding-bottom: 0;
}

ion-card-content {
  padding: 16px;
  padding-top: 0;
}

ion-card #texts-2 {
  color: black;
  padding: 0px;
}

ion-card-header{
  padding: 16px;
  padding-bottom: 0;
}

ion-card-title #texts-2 {
    font-weight: normal;
}

#score-wrapper{
  padding: 16px 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: baseline;
  align-items: baseline;
}

#score-num{
  color: var(--ion-color-secondary);
  line-height: 95%;
  letter-spacing: -1.51px;
  font-size: 56px;

}

#graph-title{
  width: 100%;
  line-height: 38px;
  letter-spacing: -1.56;
  font-size: 32px;
  padding-bottom: 16px;
}


.flex-disp {
  margin-right: 0;
  margin-left: 0;
  text-align: left;
  display: flex!important;
  flex-direction: column;
  align-content: center!important;
  align-items: center!important;
  justify-content: center;
}

.legend-container ion-label{
  overflow-x: auto;
}

ion-card {
  --background: white;
}

.full-height{
  height: 100%;
}

ion-card-title {
  --color: #2d1180;
  font-weight: bold;
}


#legend-colorBox {
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  vertical-align: middle;
}

#legend-colorBox #colorBox-content {
  height: 50%;
  width: 50%;
  border-radius: 50%;
}

#footer {
  margin: 50px;
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

#footer-button {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  --background: #2d1180;
  --background-hover: white;
  --color-hover: #2d1180;
  --color: white;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 768px) {
  
.top-col{
  padding-top: 8px;
}
  ion-content {
    --background: white;
    --genPadding: 16px;
  }

  #score-num{
    line-height: 38px;
    letter-spacing: -1.56;
    font-size: 32px;
    font-weight: bold;
  }

  #graph-title{
    line-height: 29px;
    letter-spacing: -1.17px;
    font-size: 24px;
  }
}

@media only screen and (max-width: 1024px){
  .flex-disp {
    align-items: initial!important;
  }

  
}

@media only screen and (min-width: 1024px) {
  ion-card{
    box-shadow: none;
  }

  .top-col{
    padding-bottom: calc(var(--genPadding)/2);
  }
  .align-end{
    justify-content: flex-end;
    padding-right: calc(var(--genPadding)/2);
  }
  
  .align-start{
    justify-content: flex-start;
    padding-left: calc(var(--genPadding)/2);
  }
}