ion-content {
  --background: white;
  z-index: 1;
  --div-shadows: inset 0 4px 4px 0 rgba(158, 139, 139, 0.16),
  0 0 0 2px rgba(0, 0, 0, 0.08);
  --div-padding-left: 10%;
}

ion-content .background {
  position: relative;
  background: url(/assets/homepage/lucas-benjamin-wQLAGv4_OYs-unsplash.jpg)
    no-repeat center center / cover;
  width: 100%;
  height: 120%;
  //padding-bottom: 20px;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.background:after {
  content: "";
  position: absolute;
  top: 98%;
  right: 0%;
  width: 105%;
  height: 100%;
  background: white;
  box-shadow: var(--div-shadows);
  transform-origin: left;
  transform: skewY(-4deg);
}

.header-container{
  padding-left: var(--div-padding-left);
  padding-right: var(--div-padding-left);

}


#header-content {
  width: 500px;
  height: calc((5 / 6) * 100%);
  position: absolute;
  top: 0;
  //left: 20%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-content: center;
}

#header-logo {
  margin: 20px;
  margin-left: 0;
  width: auto;
  max-width: 220px;
  height: auto;
}

#texts {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;
  color: white;
}

#texts-2 {
  line-height: 29px;
  letter-spacing: -1.17px;
  font-size: 24px;
  width: auto;
  max-width: 700px;
  padding-bottom: 8px;
}
#texts-3 {
  line-height: 17px;
  letter-spacing: -0.68;
  font-size: 14px;
  max-width: 700px;
}

#texts-1 {
  line-height: 95%;
  letter-spacing: -3.51px;
  font-size: 56px;
  width: auto;
  max-width: 700px;
  padding-bottom: 8px;
}

#header-button {
  position: absolute;
  color: white;
  font-size: 24px;
  top: 90%;
  left: 50%;
  transform: translate(-50%);
}

#header-shader {
  height: 100%;
  background-image: linear-gradient(
      to top,
      #000000,
      rgba(0, 0, 0, 0.5),
      transparent,
      transparent
    ),
    linear-gradient(to bottom, #000000, transparent, transparent, transparent);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.homepage-body {
  position: relative;
  width: 100%;
  padding-bottom: 10%;
  margin-top: -1px;
  //padding-bottom: 20px;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  padding-left: var(--div-padding-left);
  padding-right: var(--div-padding-left);
}
.homepage-body-last {
  position: relative;
  width: 100%;
  margin-top: -1px;
  padding-left: var(--div-padding-left);
  padding-right: var(--div-padding-left);

}

.homepage-body:after {
  content: "";
  position: absolute;
  top: 98%;
  right: 0%;
  margin: 0;
  width: 100%;
  height: 100%;
  transform-origin: left;
  transform: skewY(-4deg);
  box-shadow: var(--div-shadows);

}

.div-1 {
  background: white;
}

.div-1::after{
  background: var(--ion-color-secondary);
}

.div-2 {
  background: var(--ion-color-secondary);
}

.div-2::after{
  background: white;
}

.div-3 {
  background: white;
}

.div-3::after {
  background: var(--ion-color-tertiary);
}

.div-4 {
  background: var(--ion-color-tertiary);
  color: white;
}

#body-intro-text {
  margin: 20px;
  margin-bottom: 0;
  text-align: left;
  vertical-align: middle;
}

#body-intro-button, #body-go-button {
  margin-top: 8px;
  //margin-left: 20px;
  margin-bottom: 20px;
  padding: 8px 16px;
  width: fit-content;
  background-color: var(--ion-color-secondary);
  box-shadow: 0 3px 3px 0 rgba(#000000, 0.16), 0 3px 3px 0 rgba(#000000, 0.23);
  color: white;
}

#body-go-button{
  background-color: var(--ion-color-tertiary);
}


#body-intro-button #texts-2 {
  margin: 0;
  padding: 0;
}

#body-intro-text{
  //width: 300px;
  max-width: 700px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

#column-1-left, #column-1-right{
  margin: auto;
}

#column-1-right {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  --ion-grid-column-padding-lg: 20px;
  --ion-grid-column-padding-xl: 50px;
}

#column-1-quote {
  display: flex;
  margin: auto;
  flex-grow: 1;
  padding-left: 16px;
  padding-right: 16px;
  font-style: italic;
}

#footer {
  text-align: center;
  margin-top: 96px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.list-wrapper {
  --list-item-height: 120px;
  --diameter: 45px;
  position:relative;
  padding-right: 20px;
}
.list-item-wrapper {
  margin-top:var(--diameter);
  height: fit-content;
  //min-height: var(--list-item-height);
  position:relative;
}
.list-bullet {
  float:left;
  z-index: 24;
  margin-right:20px;
  background:white;
  height:var(--diameter);
  width:var(--diameter);
  box-shadow: 0 3px 3px 0 rgba(#000000, 0.16), 0 3px 3px 0 rgba(#000000, 0.23);
  line-height:var(--diameter);
  border-radius:100px;
  font-weight:700;
  color:white;
  text-align:center;
}
.list-item {
  color: white;
  display:table-row;
  vertical-align:middle;
}

.white-line {
  background:white;
  box-shadow: 0 3px 3px 0 rgba(#000000, 0.16), 0 3px 3px 0 rgba(#000000, 0.23);
  top:0px;
  width:1px;
  height: 100%;
  position:absolute;
  left:calc(var(--diameter)/2);
}

.ion-activatable {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#footer-img{
  padding: 48px 0px;
  align-self: center;
  width: auto;
  height: auto;
  max-width: 50%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  ion-content .background {
    height: 110%;
    --div-padding-left: 10%;
  }

  #header-content {
    width: 500px;
    max-width: 85%;
    height: 100%;
    //left: 10%;
  }

  #header-logo {
    margin: 20px;
    margin-left: 0;
    width: auto;
    max-width: 150px;
    height: auto;
  }

    
  #texts-1 {
    line-height: 95%;
    letter-spacing: -2.29px;
    font-size: 48px;
    max-width: 600px;
  }

  #texts-2 {
    line-height: 21px;
    letter-spacing: -0.83;
    font-size: 16px;
    max-width: 600px;
  }

  #texts-3 {
    line-height: 13px;
    letter-spacing: -0.54;
    font-size: 11px;
    max-width: 600px;
  }

  .list-wrapper {
    --diameter: 30px;
    --list-item-height: 90px;
  }

  #footer{
    margin-top: 48px;
    margin-bottom: 16px;
  }

  #footer-img{
    padding: 24px 0px;
  }



}
