.div-1 {
  background: white;
}

.div-1::after, .div-2 {
  background: var(--ion-color-secondary);
}

.div-2::after, .div-3{
  background: white;
}

.div-3::after {
  background: var(--ion-color-tertiary);
}



#body-intro-button #texts-2, #body-go-button #texts-2 {
  margin: 0;
  padding: 0;
}



#column-1-left, #column-1-right{
  margin: auto;
}

#column-1-right {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  --ion-grid-column-padding-lg: 20px;
  --ion-grid-column-padding-xl: 50px;
}

#column-1-quote {
  display: flex;
  margin: auto;
  flex-grow: 1;
  padding-left: 16px;
  padding-right: 16px;
  font-style: italic;
}

.list-wrapper {
  --list-item-height: 120px;
  --diameter: 45px;
  position:relative;
  padding-right: 20px;
}
.list-item-wrapper {
  margin-top:var(--diameter);
  height: fit-content;
  //min-height: var(--list-item-height);
  position:relative;
}
.list-bullet {
  float:left;
  z-index: 24;
  margin-right:20px;
  background:white;
  height:var(--diameter);
  width:var(--diameter);
  box-shadow: 0 3px 3px 0 rgba(#000000, 0.16), 0 3px 3px 0 rgba(#000000, 0.23);
  line-height:var(--diameter);
  border-radius:100px;
  font-weight:700;
  color:white;
  text-align:center;
}
.list-item {
  color: white;
  display:table-row;
  vertical-align:middle;
}

.white-line {
  background:white;
  box-shadow: 0 3px 3px 0 rgba(#000000, 0.16), 0 3px 3px 0 rgba(#000000, 0.23);
  top:0px;
  width:1px;
  height: 100%;
  position:absolute;
  left:calc(var(--diameter)/2);
}



@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .list-wrapper {
    --diameter: 30px;
    --list-item-height: 90px;
  }

}
